<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jack Robinson | Blog</title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/kct8xpj.css">
  </head>
  <body class="leading-normal tracking-normal font-aktiv text-sm sm:text-base bg-zinc-50 px-4 sm:px-8">
    <div class="container mx-auto w-full sm:max-w-4xl py-3 relative">
      <header class="border-b-2 pb-1 sm:pb-3">
        <div class="font-inter font-bold">
          <h1 class="text-4xl sm:text-7xl pb-1 sm:pb-3">Scratchings</h1>
        </div>
        <p class="py-1">Hi, my name is Jack, and this is a collection (hopefully) of my writing. Posts may be few and far between, but thanks for stopping by.</p>
        <p class="py-1">If you'd like to know more about me, <a class="text-rose-500 no-underline hover:underline" href="https://jackrobinson.co.nz">check out here</a>
      </header>
      <h2 class="font-inter font-bold text-xl sm:text-3xl pt-1 sm:pt-3">
        Posts
      </h1>
      {{{posts}}}
    </div>
  </body>
</html>
