<!DOCTYPE html>
<html>
  <head>
    <title>Zombrodo</title>
  </head>
  <body>
    <h2>Welcome to my site, here are some posts:</h2>
    <div class="posts">
      {{{posts}}}
    </div>
  </body>
</html>
