<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{metadata}}}
    <title>Zombrodo | {{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              "montserrat": ["Montserrat", "sans-serif"],
              "lora": ["Lora", "serif"],
              "mono": ["Source Code Pro", "monospace"]
            }
          }
        }
      }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/stackoverflow-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700;800&family=Source+Code+Pro&display=swap" rel="stylesheet">
  </head>
  <body class="leading-normal tracking-normal font-lora bg-zinc-50">
    <div class="container mx-auto w-full md:max-w-3xl py-3 relative">
      <nav id="top">
        <a class="no-underline hover:underline text-rose-500" href="/">Home</a>
      </nav>
      {{{content}}}
      <footer class="py-2">
        <hr />
        <a class="no-underline hover:underline text-rose-500" href="#top">Back to top</a>
      </footer>
    </div>
  </body>
  <script>hljs.highlightAll();</script>
</html>
