<header class="pt-4 pb-1">
  <div class="-ml-1 font-montserrat font-bold">
    <h2 class="text-4xl">{{{series}}}</h2>
    <h1 class="text-7xl">{{{part}}}</h1>
  </div>
  <div class="py-2 flex text-sm italic">
    <p>Posted {{dateString}}</p>
  </div>
</header>
