<header class="pt-14 pb-8">
  <h1 class="font-aktiv text-center font-extra-bold text-8xl tracking-tighter">{{{title}}}</h1>
  <div class="pb-1 text-md italic text-center">
    <p>Posted {{{dateString}}}</p>
  </div>
  <hr class="w-1/2 mx-auto my-2"/>
</header>
