<header class="pt-4 pb-1">
  <h1 class="font-montserrat font-bold text-7xl">{{{title}}}</h1>
  <div class="pb-1 flex text-sm italic">
    <p class="ml-1">Posted {{day}} {{month}}, {{year}}</p>
  </div>
</header>
